.sobremiContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    height: 400px;
}
.smTitle{
    margin: 0;
    font-size: 40px;
    font-family: 'Lalezar', cursive;
    line-height: 35px;
}
.smPara{
    width: 40%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

@media (max-width:1000px){
    .smPara{
        width: 70%;
    }
}
@media (max-width:1000px){
    .smPara{
        width: 90%;
    }
    .sobremiContainer{
        gap: 30px;
    }
}
@media (max-width:550px){
    .smPara{
        font-size: 15px;
    }
    .smTitle, .skillTitle, .titleContacto {
        font-size: 30px;
    }
    .skillPara, .proyPara, .contactoPara, .txtsMetodos, .lutz p {
        font-size: 15px;
    }
}