.nbcontainer{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lalezar', cursive;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1;
}
.title{
    margin: 0;
    padding: 15px 0 0 25px;
    font-size: 25px;
    cursor: pointer;
}
.list{
    padding:15px 25px 15px 0;
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 23px;
}
.list_item{
    cursor: pointer;
}
@media (max-width: 1000px){
    .nbcontainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        width: 100vw;
    }
    .title{
        padding: 0;
    }
    .list{
        padding: 0;
    }
}
@media (max-width: 550px){
    .list{ 
        font-size: 18px;
    }
}
@media (max-width: 380px){
    .list{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 19px;
    }
}