.skillContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    height: 350px;
    padding-top: 25px;
    margin-top: 180px;
    margin-bottom: 180px;
}
.skillTitle{
    margin: 0;
    font-size: 40px;
    font-family: 'Lalezar', cursive;
    line-height: 35px;
}
.txts_logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.skillPara{
    width: 430px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.skill_logos{
    width: 430px;
}
.skill_logos img{
    width: 75px;
    padding: 20px;
}

@media (max-width:1000px){
    .txts_logos{
        flex-direction: column;
        gap: 40px;
    }
    .skillPara{
        width: 80%;
        text-align: center;
    }
    .skill_logos{
        width: 345px;
    }
}
@media (max-width:1000px){
    .txts_logos{
        gap: 20px;
    }
    .skillContainer{
        padding: 0;
        gap: 25px;
        margin: 100px 0 ;
    }
    .skill_logos img{
        width: 50px;
        padding: 10px;
    }
    .skill_logos{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width:550px){
    .skill_logos img{
        width: 35px;
        flex-wrap: wrap;
    }
}