.heroContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 120px;
}
.txtsHero{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
}
.heroTitle{
    margin: 0;
    font-size: 50px;
    font-family: 'Lalezar', cursive;
    line-height: 35px;
}
.heroPara{
    width: 450px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.lygContainer{
    padding-top: 10px;
    display: flex;
    gap: 15px;
}
.heroContact{
    width: 25px;
}
.heroContact:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px){
    .heroContainer{
        gap: 0px;
    }
    .heroTitle{
        font-size: 40px;
    }
    .fotoHero{
        width: 300px;
    }
}
@media (max-width: 700px){
    .heroContainer{
        flex-direction: column;
        gap: 40px;
    }
    .txtsHero{
        text-align: center;
        align-items: center;
        width: 100%;
    }
    .heroPara{
        width: 100%;
    }
    .lygContainer{
        justify-content: center;
    }
}
@media (max-width: 540px){
    .heroTitle{
        font-size: 30px;
    }
    .heroPara{
        font-size: 15px;
        width: 75%;
    }
    .fotoHero{
        width: 250px;
    }
}